<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/Divide-By-Zero-Solutions/index.json" />
    <add key="VokLocal" value="..\Vok.Performance.Core\bin\Release" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="Divide-By-Zero-Solutions" />
      <add key="ClearTextPassword" value="" />
    </packageSourceCredentials>
  </packageSourceCredentials>
</configuration>